{% block footer %}
<div class="footer">
  <div class="policy-links">
    <p>Please review our policies:</p>
    <p>
      <a style="color: white;" href="https://inticure.com/terms">Terms and Conditions</a> | 
      <a style="color: white;" href="https://inticure.com/privacy">Privacy Policy</a> | 
      <a style="color: white;" href="https://inticure.com/cancel_policy">Cancellation Policy</a>
    </p>
  </div>

  <div class="social-links">
    <a href="https://www.facebook.com/profile.php?id=100086973277320" target="_blank" style="display: inline-block; margin: 0 10px; width: 36px; height: 36px; border-radius: 50%; text-align: center; line-height: 36px;">
      <img src="{{backend_url}}/media/icons/facebook.png" alt="Facebook" width="20" style="display: block; margin: 0 auto;">
    </a>
    <a href="https://www.youtube.com/channel/UCmFHPhjy7R6E_Lfv9_4nr-Q" target="_blank" style="display: inline-block; margin: 0 10px; width: 36px; height: 36px; border-radius: 50%; text-align: center; line-height: 36px;">
      <img src="{{backend_url}}/media/icons/youtube.png" alt="YouTube" width="20" style="display: block; margin: 0 auto;">
    </a>
    <a href="https://www.instagram.com/get_inticured/" target="_blank" style="display: inline-block; margin: 0 10px; width: 36px; height: 36px; border-radius: 50%; text-align: center; line-height: 36px;">
      <img src="{{backend_url}}/media/icons/instagram.png" alt="Instagram" width="20" style="display: block; margin: 0 auto;">
    </a>
    <a href="https://www.linkedin.com/company/inticure/?viewAsMember=true" target="_blank" style="display: inline-block; margin: 0 10px; width: 36px; height: 36px; border-radius: 50%; text-align: center; line-height: 36px;">
      <img src="{{backend_url}}/media/icons/linkedin.png" alt="LinkedIn" width="20" style="display: block; margin: 0 auto;">
    </a>
  </div>

  <p><b>Follow Us</b></p>

  <div class="policy-links">
    <p> © {{year}} Next Big HealthCare Pvt. Ltd. All rights reserved.</p>
  </div>
</div>
{% endblock %}
